In [1]:
import numpy as np
import pandas as pd

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import recall_score, precision_score, f1_score, confusion_matrix

In [2]:
DATA_JSON_FILE = 'SpamData/01_Processing/email-text-data.json'

In [3]:
data = pd.read_json(DATA_JSON_FILE)

In [4]:
data.head()

,CATEGORY,MESSAGE,FILE_NAME
0,1,"Dear Homeowner,\n\n \n\nInterest Rates are at ...",00249.5f45607c1bffe89f60ba1ec9f878039a
1,1,ATTENTION: This is a MUST for ALL Computer Use...,00373.ebe8670ac56b04125c25100a36ab0510
2,1,This is a multi-part message in MIME format.\n...,00214.1367039e50dc6b7adb0f2aa8aba83216
3,1,IMPORTANT INFORMATION:\n\n\n\nThe new domain n...,00210.050ffd105bd4e006771ee63cabc59978
4,1,This is the bottom line. If you can GIVE AWAY...,00033.9babb58d9298daa2963d4f514193d7d6

In [5]:
data.shape

(5796, 3)

In [6]:
data.sort_index(inplace=True)

In [7]:
data.tail()

,CATEGORY,MESSAGE,FILE_NAME
5791,0,"I'm one of the 30,000 but it's not working ver...",00609.dd49926ce94a1ea328cce9b62825bc97
5792,0,Damien Morton quoted:\n\n>W3C approves HTML 4 ...,00957.e0b56b117f3ec5f85e432a9d2a47801f
5793,0,"On Mon, 2002-07-22 at 06:50, che wrote:\n\n\n\...",01127.841233b48eceb74a825417d8d918abf8
5794,0,"Once upon a time, Manfred wrote :\n\n\n\n> I w...",01178.5c977dff972cd6eef64d4173b90307f0
5795,0,"If you run Pick, and then use the ""New FTOC"" b...",00747.352d424267d36975a7b40b85ffd0885e

In [8]:
vectorizer = CountVectorizer(stop_words='english')

In [9]:
all_features = vectorizer.fit_transform(data.MESSAGE)

In [10]:
all_features.shape

(5796, 102694)

In [11]:
# vectorizer.vocabulary_

In [12]:
X_train, X_test, y_train, y_test = train_test_split(all_features, data.CATEGORY,
                                                   test_size=.3, random_state=88)

In [13]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((4057, 102694), (4057,), (1739, 102694), (1739,))

In [14]:
classifier = MultinomialNB()

In [15]:
classifier.fit(X_train, y_train)

MultinomialNB()

In [16]:
nr_correct = (y_test == classifier.predict(X_test)).sum()

In [17]:
print(f'{nr_correct} documents classified correctly')

1660 documents classified correctly

In [18]:
nr_incorrect = y_test.size - nr_correct

In [19]:
print(f'Number of documents incorrectly classified is {nr_incorrect}')

Number of documents incorrectly classified is 79

In [20]:
fraction_wrong = nr_incorrect / (nr_correct + nr_incorrect)
print(f'The (testing) accuracy of the model is {1 - fraction_wrong:.2%}')

The (testing) accuracy of the model is 95.46%

In [21]:
classifier.score(X_test, y_test)

0.9545715928694652

In [22]:
recall_score(y_test, classifier.predict(X_test))

0.8646209386281588

In [23]:
precision_score(y_test, classifier.predict(X_test))

0.9917184265010351

In [24]:
f1_score(y_test, classifier.predict(X_test))

0.9238187078109932

In [25]:
confusion_matrix(y_test, classifier.predict(X_test))

array([[1181,    4],
       [  75,  479]], dtype=int64)

In [26]:
example = ['get viagra for free now!', 
          'need a mortgage? Replay to arrange a call with a specialist and get a quote', 
          'Could you please help me with the project for tomorrow?', 
          'Hello Jonathan, how about a game of golf tomorrow', 
          'Ski jumping is a winter sport in which competitors aim to achieve the longest jump after descending from a specially designed ramp on their skis. Along with jump length, competitor\'s style and other factors affect the final score. Ski jumping was first contested in Norway in the late 19th century, and later spread through Europe and North America in the early 20th century. Along with cross-country skiing, it constitutes the traditional group of Nordic skiing disciplines.']

In [27]:
doc_term_matrix = vectorizer.transform(example)

In [28]:
classifier.predict(doc_term_matrix)

array([1, 1, 0, 0, 0], dtype=int64)